<h1><font color="purple"><b>Introduction to Data Handling in Python</b></font></h1>
<hr>
<p>Python is a package based ecosystem where pre-written packets of code are imported in order to represent and manipulate commonly used data objects. In day-to-day workflow the most common data objects are:

<ul>
  <li>Lists
  <li>Dictionaries
  <li>Tuples
  <li>Data Frames
  <li>Arrays
  <li>Series
</ul>

This notebook will breifly cover how to create, manipulate, and load each of these objects.

<h2>Lists: </h2>
<hr>

In [ ]:
# A list is a native python object type meaning that it does not require a package to be instantiated or manipulated.

# as seen below a list is denoted by square brackets
ls = [] # this is a list containing no items
print(f'ls: {type(ls)} --- {ls}')

ls: <class 'list'> --- []

In [ ]:
# A list can be created with items or items can be added later.
ls_0 = [1,2,3,4,5]
ls.append(1)
print(f'ls_0: {ls_0}\nls: {ls}')

ls_0: [1, 2, 3, 4, 5]
ls: [1]

In [ ]:
# Lists can also be made up of other object such as lists, tuples, ect.
ls.append(('A', 'tuple'))
ls.append(['A', 'list'])

print(f'ls: {ls}')

ls: [1, ('A', 'tuple'), ['A', 'list']]

In [ ]:
# Lists are order indexed starting at 0 allowing for the slicing of a list using square brackets.
ls[1]

('A', 'tuple')

In [ ]:
# Lastly lists are one of many iterable data types.
for x in ls_0:
  print(x*2)

2
4
6
8
10

<hr>
<hr>
<br>
<h2>Dictionaries: </h2>
<hr>

In [ ]:
# Dictionaries are a common key value store that can be thought of as a relational map.

employee = {
    '001':'Tom',
    '002':'Bill',
    '003':'Jane',
    '004':'Fred'
}

print(employee['002'])

Bill

In [ ]:
# These relationships can contain many data types and can be nested to acomidate any number of layers.

employee = {
    '001':{'name':'Tom', 'job':'Accounts Payable', 'direct reports':[]},
    '002':{'name':'Bill', 'job':'Architect', 'direct reports':[]},
    '003':{'name':'Jane', 'job':'Project Manager', 'direct reports':['002', '004']},
    '004':{'name':'Fred', 'job':'Regulatory Compliance', 'direct reports':[]}
    
}

print(f"{employee['003']['name']}\nDirect Reports: {[employee[x]['name'] for x in employee['003']['direct reports']]}")

Jane
Direct Reports: ['Bill', 'Fred']

In [ ]:
# Try it yourself be creating a dictionary that maps state names using their abreviations.
# example
'''
states = {
  "NC":"North Carolina",
  ...
  ...
}
'''
###############################################################

'\nstate = {\n  "NC":"North Carolina",\n  ...\n  ...\n}\n'

<hr>
<hr>
<br>
<h2>Data Frames: </h2>
<hr>

<p>Data Frame are a non-native Python data type and can only be instantiated using the package pandas. Pandas is the most common python data hanling package and is often represented as "pd".</p>

In [ ]:
import pandas as pd

print(type(pd.DataFrame()))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Data Frames can be instantiated in a number of ways but for this example we will use a dictionary
#   where the key will be the column name with each value being the a list of column values

df = pd.DataFrame({
    'eid':['001','002','003','004'],
    'name':['Tom', 'Bill','Jane','Fred'],
    'job':['Accounts Payable','Architect','Project Manager','Regulatory Compliance'],
    'direct reports':[[],[],['002', '004'],[]]
})

df.head()

   eid  name                    job direct reports
0  001   Tom       Accounts Payable             []
1  002  Bill              Architect             []
2  003  Jane        Project Manager     [002, 004]
3  004  Fred  Regulatory Compliance             []